
.navbar{
    height: 112px;
    background-color: #337AB7;
    color: #ffffff;
    font-size: 24px;
    text-shadow: horizontal-offset vertical-offset blur-radius #000000;
    margin-left: 0px !important;

}
.navbar a {
    color: #ffffff; 
    text-decoration: none; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .navbar a:hover {
    color: #c1c1c1; 
  }

  .navWrap{
    background-color: #337AB7;

    
    margin-left: 0px !important;
    margin-right: 0px !important;

  }
  .DD-clr{
    background-color: #337AB7;

  }
.getStartedButton{
  background-color: red;
  height: 112px;
  border-radius: 10px 0px 0px 10px ;
  width: 160px;
  font-size: 24px;

}
.custom-logo {
  margin-left: -12%;
}

@media screen and (max-width: 768px) { 
  .custom-logo {
    margin-left: 0;
  }
}