.queryWrap{
    margin-top: 40px;
}
.queryWrap h6{
    color: red;
    font-size: 32px;

}
.queryWrap button{
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 20px;
    margin-top: 60px;
    font-size: 40px;
    width: 360px;
    height: 130px;

}